body {background-color: #F5FFFA;

}

body {text-align: center;}

#break {border-bottom-style: solid;
	border-bottom-width: 
	width: 80%;
	text-align: center;
	margin: auto;
	border-bottom-color: #66CDAA;
}

.Ordernowbutton
{
	padding: 15px;
	font-size: 35px;
	border-radius: 8px;
	background-color: green;
	border-style: red;

.buttonholder 
	{
		margin-bottom: 50px;
	text-align: center;
}

	}
